.container(ng-click="<%= scriptAppName %>.onClick()")
  .hero-unit
    %h1
      {{'general.YO' | translate}}
      %i.logo-on-header.<%= _.slugify(_.humanize(appname)) %>-svg-font-icons-wix-logo
    %div
      This is {{<%= scriptAppName %>.name}} ({{<%= scriptAppName %>.clicks}})
    %h3 Enjoy coding! - Yeoman
